		<?xml version="1.0" encoding="UTF-8"?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		xmlns:android = "http://schemas.android.com/apk/res/android"
		id        = "com.mycloudvip.weathervip"
		versionCode=""
		version   = "1.0.0">
		<name>Weather VIP</name>
		<description>This is a great Weather App. It safely stores your favorite cities and a 10 day forecast securely on your Phone. What makes it special is that we will be rolling out a very good update in the following weeks, where the device itself can give you alerts and weather notifications by voice using an incredible technology based with the most advanced Text To Speech voice technology, also known as TTS. Download this App today and enjoy the VIP benefits that MyCloudVIP provides to you. Enjoy it!</description>
		<author href="https://mycloudvip.com" email="info@mycloudvip.com">MyCloudVIP | Welcome to the Cloud!</author>
		<feature name="http://api.phonegap.com/1.0/battery" />
		<feature name="http://api.phonegap.com/1.0/camera" />
		<feature name="http://api.phonegap.com/1.0/contacts" />
		<feature name="http://api.phonegap.com/1.0/file" />
		<feature name="http://api.phonegap.com/1.0/geolocation" />
		<feature name="http://api.phonegap.com/1.0/media" />
		<feature name="http://api.phonegap.com/1.0/network" />
		<feature name="http://api.phonegap.com/1.0/notification" />
		<plugin name="cordova-plugin-console"  />
		<plugin name="cordova-plugin-statusbar"  spec="~1.0.1" />
		<plugin name="undefined" version="~1.2.0" source="npm"  />
		<preference name="phonegap-version" value="cli-6.3.0" />
		<preference name="android-build-tool" value="gradle" />
		<preference name="orientation" value="default" />
		<preference name="fullscreen" value="false" />
		<preference name="target-device" value="universal" />
		<preference name="webviewbounce" value="true" />
		<preference name="prerendered-icon" value="false" />
		<preference name="stay-in-webview" value="true" />
		<preference name="ios-statusbarstyle" value="black-transparent" />
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="true" />
		<preference name="show-splash-screen-spinner" value="true" />
		<preference name="auto-hide-splash-screen" value="true" />
		<preference name="FadeSplashScreen " value="true" />
		<preference name="EnableViewportScale" value="false" />
		<preference name="MediaPlaybackRequiresUserAction" value="false" />
		<preference name="AllowInlineMediaPlayback" value="true" />
		<preference name="BackupWebStorage" value="none" />
		<preference name="TopActivityIndicator" value="white" />
		<preference name="KeyboardDisplayRequiresUserAction" value="true" />
		<preference name="KeyboardShrinksView " value="true" />
		<preference name="HideKeyboardFormAccessoryBar" value="true" />
		<preference name="SuppressesIncrementalRendering" value="false" />
		<preference name="windows-identity-name" value="" />
		<preference name="android-minSdkVersion" value="21" />
		<preference name="android-targetSdkVersion" value="21" />
		<preference name="android-maxSdkVersion" value="23" />
		<preference name="android-installLocation" value="auto" />
		<preference name="SplashScreenDelay" value="2000" />
		<preference name="ErrorUrl" value="null" />
		<preference name="BackgroundColor" value="0x000000" />
		<preference name="DisallowOverscroll" value="true" />
		<preference name="LoadingDialog" value="," />
		<preference name="LoadUrlTimeoutValue" value="null" />
		<platform name="ios">
		<icon src="www/icons/Icon-57.png" width="57" height="57" />
		<icon src="www/icons/Icon-72@2x.png" width="144" height="144" />
		<icon src="www/icons/Icon-Small-50@2x.png" width="100" height="100" />
		<icon src="www/icons/Icon-60.png" width="60" height="60" />
		<icon src="www/icons/Icon-60@2x.png" width="120" height="120" />
		<icon src="www/icons/Icon-60@3x.png" width="180" height="180" />
		<splash src="www/icons/splash_v_non_retina.png" width="1242" height="2208" /> 
		<splash src="www/icons/splash_h_non_retina.png" width="2208" height="1242" /> 
		<splash src="www/icons/splash_v_iphone6.png" width="750" height="1334" /> 
		<splash src="www/icons/splash_h_iphone6.png" width="1334" height="750" /> 
		<splash src="www/icons/splash_v_iphone5.png" width="640" height="1136" /> 
		<splash src="www/icons/splash_h_iphone5.png" width="1136" height="640" /> 
		<splash src="www/icons/splash_v_640x960.png" width="640" height="960" /> 
		<splash src="www/icons/splash_h.png" width="960" height="640" /> 
		<splash src="www/icons/splash_v_320x480.png" width="320" height="480" /> 
		<splash src="www/icons/splash_h_480x320.png" width="480" height="320" /> 
		</platform>
		<platform name="android">
		<icon src="www/icons/Icon-36.png" qualifier="ldpi" />
		<icon src="www/icons/Icon-48.png" qualifier="mdpi" />
		<icon src="www/icons/Icon-72.png" qualifier="hdpi" />
		<icon src="www/icons/Icon-96.png" qualifier="xhdpi" />
		<icon src="www/icons/Icon-72@2x.png" qualifier="xxhdpi" />
		<icon src="www/icons/Icon-192.png" qualifier="xxxhdpi" />
		</platform>
		<platform name="winphone">
		</platform>
		 <icon src="icon.png" />
		<access origin="www.mycloudvip.com" subdomains="true" />
		<allow-intent href="http://*/*" />
		<allow-intent href="https://*/*" />
		<platform name="android" >
		<allow-intent href="market:*" />
		</platform>
		<platform name="ios" >
		<allow-intent href="itms:*" />
		</platform>
		<platform name="ios" >
		<allow-intent href="itms-apps:*" />
		</platform>
		</widget>